.managerNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #033756;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding: 0 50px;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .managerNavLeft {
    display: flex;
    align-items: center;
  }
  
  .managerNavLogo {
    color: #fa991c;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 50px;
  }

  .managerNavLogo:hover {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    transform: scale(.99);
  }
  
  .managerNavList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .managerNavItem {
    margin-right: 20px;
  }
  
  .managerNavLink {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .managerNavLink:hover {
    color: #fa991c;
    text-decoration: none;
  }
  
  .managerNavRight {
    display: flex;
    align-items: center;
  }
  
  .managerNavLogout {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.2s ease-in-out;
  }
  
  .managerNavLogout:hover {
    color: #fa991c;
  }
  
  
