.calContainer {
  margin-top: 50px;
}
.timetable {
  max-width: 95%;
  /* max-height: 900px; */
  margin-top: 50px;
  margin-bottom: 50px;
}

.calendarTitle {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
.timetable th,
.timetable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 180px;
}

.timetable th {
  background-color: #1c768f;
}

.timetable td {
  height: 80px;
}

.timetable td:hover {
  background-color: #a9a9a9;
  cursor: pointer;
}
