
.basket{
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    flex: 1;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.09);
        border-radius: 10px;
    background-color: #fa991c;
    height: 70vh;

}

.basketTitle{
    font-family: Arimo;
    color: white;
    font-size: 20px ;
    font-weight: 600;
    margin: 20px 0;
    align-self: center;
    
}

.userBasket{
    flex: 90%;
    background-color: white;   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}








